{% macro insert(table, columns, values) -%}
INSERT INTO {{ table }} ({{ columns }}, creation_user_id, creation_timestamp) VALUES
{% if not varargs -%}
({{ values }}, {{ creation.user_id }}, datetime("{{ creation.time }}"));
{%- else -%}
{% for extra_values in varargs -%}
({{ values }}, {{ extra_values }}, {{ creation.user_id }}, datetime("{{ creation.time }}"))
{%- if not loop.last -%}
,
{% else -%}
;
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endmacro %}


{% macro slot(frame_id, name, value, value_order="NULL") -%}
{{ insert("Slot", "frame_id, name, value_order, value",
          '{}, "{}", "{}", {}, "{}"'.format(frame_id, name,
                                            value_order, value)) }}
{{ insert("Slot_versions",
          "slot_id, version_id",
          'last_insert_rowid(), {}'.format(versions.first_id)) }}
{%- endmacro %}


{% macro single_slots(frame_id) -%}
{% for name, value in varargs -%}
{{ slot(frame_id, name, value) }}
{% if not loop.last %}

{% endif -%}
{% endfor -%}
{%- endmacro -%}


{% macro multi_slot(frame_id, name) -%}
{% for value in varargs -%}
{{ slot(frame_id, name, value, loop.index) }}
{% if not loop.last %}

{% endif -%}
{% endfor -%}
{%- endmacro -%}


{% macro multi_slot2(frame_id, name, first_order) -%}
{% for value in varargs -%}
{{ slot(frame_id, name, value, loop.index + first_order - 1.0) }}
{% if not loop.last %}

{% endif -%}
{%- endfor %}
{%- endmacro %}
