{% macro insert(table, columns, values) -%}
INSERT INTO {{ table }} ({{ columns }}, creation_user_id, creation_timestamp) VALUES
{% if not varargs -%}
({{ values }}, {{ creation.user_id }}, datetime("{{ creation.time }}"));
{%- else -%}
{% for extra_values in varargs -%}
({{ values }}, {{ extra_values }}, {{ creation.user_id }}, datetime("{{ creation.time }}"))
{%- if not loop.last -%}
,
{% else -%}
;
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endmacro %}


{% macro slot(frame_id, name, type, value, value_order="NULL") -%}
{% set col_names = "frame_id, name, name_upper, type, value_order" -%}
{% set values = '{}, "{}", "{}", "{}", {}'.format(frame_id, name, name.upper(), type, value_order) -%}
{% if type in ("integer", "frame") -%}
{% set col_names = col_names + ', int_value' -%}
{% set values = values + ', {}'.format(value) -%}
{% elif type == "real" -%}
{% set col_names = col_names + ', real_value' -%}
{% set values = values + ', {}'.format(value) -%}
{% elif type == "boolean" -%}
{% set col_names = col_names + ', boolean_value' -%}
{% set values = values + ', {}'.format(value) -%}
{% elif type in ("string", "format") -%}
{% set col_names = col_names + ', text_value' -%}
{% set values = values + ', "{}"'.format(value) -%}
{% elif type == "enum" -%}
{% set col_names = col_names + ', int_value, text_value' -%}
{% set values = values + ', {}'.format(value) -%}
{% endif -%}
{{ insert("Slot", col_names, values) }}
{{ insert("Slot_versions",
          "slot_id, version_id",
          'last_insert_rowid(), {}'.format(versions.first_id)) }}
{%- endmacro %}


{% macro single_slots(frame_id) -%}
{% for name, type, value in varargs -%}
{{ slot(frame_id, name, type, value) }}
{% if not loop.last %}

{% endif -%}
{% endfor -%}
{%- endmacro -%}


{% macro multi_slot(frame_id, name, type) -%}
{% for value in varargs -%}
{{ slot(frame_id, name, type, value, loop.index) }}
{% if not loop.last %}

{% endif -%}
{% endfor -%}
{%- endmacro -%}


{% macro multi_slot2(frame_id, name, type, first_order) -%}
{% for value in varargs -%}
{{ slot(frame_id, name, type, value, loop.index + first_order - 1.0) }}
{% if not loop.last %}

{% endif -%}
{%- endfor %}
{%- endmacro %}
